body {
  background: rgb(240, 240, 240);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: rgb(73, 218, 223);
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  border: none;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border: none;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-time,
.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.message img {
  width: 100%;
  max-width: 500px;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.message-time {
  font-style: italic;
}

.navbar {
  background: rgb(73, 218, 223);
  color: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  border: none;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  font-family: "Brush Script MT", cursive;
}

.navbar h2 {
  color: white;
  float: right;
  font-size: 15px;
  line-height: 40px;
}