body {
  background: rgb(240, 240, 240);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.messages {
  margin-bottom: 115px;
}

.chatbar {
  background: rgb(73, 218, 223);
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  right: 0;
  border: none;
}

.chatbar-button,
.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border: none;
}

.chatbar-button:hover {
  background-color: rgb(27, 69, 94);
}

.chatbar-button {
  flex: 2;
  background-color: rgb(43, 103, 138);
  color: white;
  font-family: "Helvetica";
  font-size: 20px;
}

.chatbar-message {
  flex: 6;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.userMessage {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: white;
  border-radius: 20px;
  padding: 10px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  margin-left: 15px;
}

.message-time,
.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.message img {
  max-width: 300px;
  max-height: 300px;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.message-time {
  font-style: italic;
}

.navbar {
  background: rgb(73, 218, 223);
  color: white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  border: none;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  font-family: "Brush Script MT", cursive;
}

.navbar-brand:hover {
  color: rgb(27, 69, 94);
}

.navbar h2 {
  color: white;
  float: right;
  font-size: 15px;
  line-height: 39px;
  margin-right: 15px;
}